@import "_variables";
@import "_mixins";
@import "_buttons";

a {
  margin-bottom: 10px;
  &:nth-of-type(odd) {
    @include link("odd");
  }
  &:nth-of-type(even) {
    @include link("even");
  }
}

.box {
  margin-top: 20px;
  &:hover {
    background-color: green;
  }
  h2 {
    color: red;
    &:hover {
      background-color: yellowgreen;
    }
  }
  button {
    color: $bg;
  }
}

button {
  @extend %button;
  border: none;
}

//extend: 같은 코드를 중복하고 싶지 않을 때 사용
